body {
    font-family: "微软雅黑","宋体";
    font-size: 13px;
    color: #666;
    margin: 0;
    padding: 0;
}
ul,li,a
{
    margin:0px;
    padding:0px;
    text-decoration:none;
    list-style:none;
}
#page{
    width:980px;
    margin:0px auto;
}
.clear{
    clear:both;
}
#menu{
    background-color:#AC000B;
    height:100px;
    line-height:100px;
}
#corpTitle {
    float:left;
    color:#FFFFFF;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    font-family: "微软雅黑","宋体";
    width:300px;

}

#fastNav ul li
{
    float:left;
    width:120px;
    color:#FFFFFF;
    list-style:none;
    font-size:18px;
}
#fastNav ul li a{
    color:#FFFFFF;
}
#logo{
    background-image:url('../images/logo.png');
    height:380px;
    width:980px;
}
.searchOnline{
    background-image:url('../images/pa45.gif');
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
}
#main{
    margin-top:5px;
}
#nav{
    width:200px;
    line-height:32px;
    float:left;
}
#container .title
{
    font-size:16px;

}
hr{
    border: none;
 border-bottom:thin  dashed;
}

.worker-header-img{
    background-image:url('../images/serviceOnlineTime1.png');
    width:27px;
    height:27px;
       display: inline-block;
    margin-right: 8px;
    color:#333;

}
.worktime{
    font-size:16px;

}

.serOnline-contact .contact-header-img {
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url('../images/serviceOnlineCall.png');
}

#container{
    width:766px;
    float:left;
    margin-left:14px;
}
.mainTitle{
    line-height:32px;
    height:32px;
}
.product img
{
    width:220px;
    height:188px;
}
.product{
    float:left;
    width:250px;
    height:214px;
    margin-top:5px;
    text-align:center;
}

.productTitle img
{
    width:300px;
    height:250px;
    border:3px solid;
}

.product span{
   font-size:15px;
   font-weight:bold;
}

.richContent{
        line-height: 1.8;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    width: 100%;
    text-align: left;
}


.newsTitle{
    width:500px;
    text-align:left;
    float:left;
}
.newsDate{
    width:250px;
    text-align:right;
    float:left;
}
.news{
    line-height:32px;
    height:32px;
    vertical-align:middle;
}
.newsContent
{
    line-height:25px;
    font-size:13px;
}
 .newsDetailsTitle
{
    text-align:center;
    font-size:18px;
    font-weight:bold;
    margin-top:5px;
}
 .newsDetailsDate
 {
      text-align:center;
    font-size:16px;
    margin-top:5px;
 }
.topNewsList
{
    margin-top:15px;
}

#footer
{
    height:90px;
    background-color:#353535;
    margin-top:20px;
    padding-top:2px;
    text-align:center;
     color:#FFF;
}
.onlineService,.search{
    background-color:#AC000B;
    color:#FFF;
        font-size: 15px;
            text-align: left;
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:5px;
}

.category li
{
    border:none;
    border-bottom:1px solid;
}
.searchTitle{
  height: 56px;
    background: #fff;
    border: 1px solid #ccc;
    line-height:36px;
    vertical-align:middle;

}
.searchTitle img{
   margin-top:12px;
}

.searchTitle .title{
    width:120px;
    height:25px;
}

.searchTitle td
{
    height:46px;
 
}

.productDetail img
{
    width:170px;
    height:150px;
}
.productDetail{
    float:left;
    width:185px;
    height:180px;
    margin-top:5px;
    text-align:center;
}

.productTitle .list
{
    font-size:18px;
    font-weight:bold;
}
.solid
{
    border:none;
    border-bottom:1px solid gray;
}
.productTitle span
{
    line-height:40px;
    height:40px;
}

.category
{
    margin-top:5px;
    border:1px solid  ;
    border-color:ActiveCaption;
    padding-left:5px;
}

.pager
{
    text-align:center;
    margin-top:5px;
}

/*news.html样式*/
.tbNews .title
{
   width:685px;
}
.tbNews td
{
    border-bottom:1px dashed;
    height:30px;
    line-height:30px;
    vertical-align:middle;
    font-size:10px;
}

/*message.html样式*/
.message
{
    margin-top:20px;
}
.message span
{
    margin-top:10px;
    font-size:14px;
    height:40px;
}

.tbMessage td
{
    height:60px;
}

.tbMessage  input
{
    width:280px;
    height:35px;
}

.tbMessage textarea
{
    width:660px;
    height:65px;
}
.tbMessage .code
{
    width:120px;
}

.imgCode
{
    height:30px;
    margin-left:10px;
    margin-top:10px;
}
.messageButton
{
    margin-top:20px;
    background-color:#FF5152;
    width:200px;
    height:40px;
    text-align:center;
    color:#ffffff;
    font-size:15px;
    line-height:40px;
    vertical-align:middle;
    margin-left:45px;
}
.tbMessageList .content
{
    width:685px;

}

.tbMessageList td
{
    border-bottom:1px dashed;
    height:28px;
    line-height:28px;
    vertical-align:middle;


}